html,
body {
  margin: 0 auto;
  /* padding: 0; */
  width: 400px;
}

#header {
  background-image: url("images/bb.jpeg");
  color: whitesmoke;
  padding: 30px;
}

.header-h1,
.header-p {
  margin: 0;
}
