html,
body {
  margin: 0 auto;
  padding-bottom: 20px;
  width: 400px;
}

#header {
  background-image: url("images/bb.jpeg");
  color: whitesmoke;
  padding: 30px;
}

.header-h1,
.header-p {
  margin: 0;
}

.item-section {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}

.item-info {
  display: flex;
}

.item-emoji {
  font-size: 60px;
  line-height: 10px;
  display: flex;
  align-items: center;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-details h3,
.item-details p,
.item-details h4 {
  padding: 0;
  margin: 0;
}

.item-add-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

i {
  font-size: 30px;
  cursor: pointer;
}

#pay-modal {
  display: none;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  width: 420px;
  height: 450px;
  background-color: whitesmoke;
  box-shadow: 20px 20px 20px 10px rgba(0, 0, 0, 0.2);
}

#pay-form {
  display: flex;
  flex-direction: column;
}
